@font-face {
  font-family: IRANSansWeb;
  font-style: normal;
  src: url("./fonts/eot/IRANSansWeb.eot");
  src: url("./fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("./fonts/woff/IRANSansWeb.woff") format("woff"), url("./fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansWebBold;
  font-style: normal;
  src: url("./fonts/eot/IRANSansWeb_Bold.eot");
  src: url("./fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("./fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("./fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansWebLight;
  font-style: normal;
  src: url("./fonts/eot/IRANSansWeb_Light.eot");
  src: url("./fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("./fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("./fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansWebMedium;
  font-style: normal;
  src: url("./fonts/eot/IRANSansWeb_Medium.eot");
  src: url("./fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("./fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("./fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: IRANSansWebUltraLight;
  font-style: normal;
  src: url("./fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("./fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("./fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("./fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

.vue-filter-component {
  width: 100%;
  height: 100%;
  margin: 0;
  color: #484746;
  background: none;
  font-family: IRANSansWeb;
  font-size: 13px;
  line-height: 16px;
  -webkit-font-smoothing: antialiased;
}

.vue-filter-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.vue-filter-content {
  width: 100%;
  margin: 0 auto;
}

.panel {
  background: #fff;
  margin-bottom: 16px;
  border-radius: 2px;
}

.panel-heading {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.panel-title {
  font-size: 18px;
  line-height: 24px;
}
.vue-form-control{
  font-family: IRANSansWeb;

}



.panel-body {
  overflow: hidden;
}

.panel-footer {
  padding: 4px 0px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vue-table {
  border: 1px solid #dee2e6 !important;
  margin-bottom: 5px !important;
  border-collapse: collapse !important;
  width: 100% !important;
}

.vue-table thead tr th {
  font-weight: bold !important;
  padding: 12px !important;
  vertical-align: center !important;
  text-align: center !important;
  font-size: .875rem !important;
  color: #5d5b5b !important;
  border-right: 1px solid #dee2e6 !important;
}

.vue-table tbody tr td {
  padding: 12px;
  border-top: 1px solid #dee2e6 !important;
  line-height: 24px !important;
  color: #5d5b5b !important;
  white-space: nowrap !important;
  font-size: .875rem !important;
  text-align: right !important;
  font-weight: 300 !important;
  vertical-align: center;
}

.vue-table tbody tr:nth-of-type(odd) {
  background-color: #fbfaff;
}

.vue-filter-component select {
  height: calc(1.70rem + 3px);
  padding: 3px 3px 3px;
  font-size: 13px;
  font-family: IRANSansWeb;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.vue-directions {
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

.vue-filter-component select :focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.vue-form-control {
  padding: 3px 3px 3px;
  font-size: 15px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  width: 100%;
  display: block;
}

.vue-form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.vue-form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.vue-form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.vue-form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.vue-form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.vue-form-control:disabled,
.vue-form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

.filter-item {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-column {
  padding-right: 5px;
  width: 25%;
}

.filter-operator {
  padding-left: 15px;
  padding-right: 15px;
  width: 25%;
}

.filter-query_1 {
  width: 24%;
  padding-left: 20px;
}

.filter-full {
  width: 44%;
  padding-left: 15px;
}

.filter-query_2 {
  width: 24%;
  padding-left: 10px;
}

.filter-remove {
  width: 2%;
  text-align: right;
  margin-top: 10px;
}

.filter-remove button {
  color: #e75658;
  background: transparent;
  border: none;
  font-weight: bold;
  margin-top: -2px;
}

.vue-btn {
  font-weight: 400;
  font-family: IRANSansWeb;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 4px 7px 4px;
  font-size: 13px;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  display: inline-block;
  position: relative;
  text-shadow: none;
  cursor: pointer;
}

.vue-btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.vue-btn-secondary {
  background: #2c405a;
  color: #fff;
  border-color: #6c757d;
}

.vue-btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.vue-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.vue-btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.vue-btn-danger.focus,
.vue-btn-danger:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.vue-btn-danger.disabled,
.vue-btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.vue-btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.vue-btn-success.focus,
.vue-btn-success:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.vue-btn-success.disabled,
.vue-btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.vue-btn:focus,
.vue-btn:hover {
  text-decoration: none;
}

.vue-btn.focus,
.vue-btn:focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.vue-btn.disabled,
.vue-btn:disabled {
  opacity: .65;
}

.vue-btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.vue-btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.vue-btn-primary.focus,
.vue-btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.vue-btn-primary.disabled,
.vue-btn-primary:disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.vue-btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.vue-btn-secondary.focus,
.vue-btn-secondary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.vue-btn-secondary.disabled,
.vue-btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.filterable-export {
  padding: 7px 0px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

